<%- include('../theme/header'); -%>

<div class="learningPath">

    <div class="one" onclick="window.location.href='/quizLanguage'"><div class="triangleLeft"></div><div class="content"><h3>Confused about choosing Language?<br>Try this AI recommendation System.</h3></div></div>
    <div class="two"><div class="triangleRight"></div><div class="contentRight"><h3>Struggling to make a career choice? Try this AI based Career Roadmap Guide</h3></div></div>
    <div class="one"><div class="triangleLeft"></div><div class="content"><h3>Personalized learning path map</h3></div></div>
    <!-- <div class="two"><div class="triangleRight"></div><div class="contentRight"><h3>Confused about choosing Language?</h3></div></div> -->
    
</div>


<%- include('../theme/footer'); -%>

